@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
     background: linear-gradient(90deg, #244c6e 0%, #00f2fe 100%);
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background: linear-gradient(90deg, #112e47 0%, #00f2fe 100%);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    padding: 1rem 2rem;
    border-radius: 0 0 10px 10px;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-img {
  animation: revolveY 20s linear infinite;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  perspective: 800px;
}


.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.game-card:hover .game-img {
  animation: none;
  transform: rotateY(0deg);
  cursor: pointer;
}


#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

button:hover {
  background-color: #005f99;
  color: white;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#search-input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 200px;
  margin-right: 0.5rem;
}

@keyframes revolveY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
